.view-invoice-container{
    min-width: 730px;
    margin-top: 70px;
}
.go-back-container button{
    padding: 10px 20px 10px 1px;
    background: none;
    color: var(--text-black-color);
    font-weight: bold;
    cursor: pointer;
}
.go-back-container button span{
    margin-right: 22px;
}
.view-invoice-btns-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-black-color);
    width: clamp(500px,730px,1250px );
    background: white;
    padding: 25px;
    border-radius: 10px;
}
.view-invoice-status{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.view-invoice-container p{
    color: var(--invoice-gray-text-color);
}
.view-invoice-status .dot{
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.view-invoice-btns-group button{
    padding: 15px 20px;
    border-radius: 30px;
}
