header{
  display: flex;
  gap: 8rem;
  color: var(--text-black-color);
  justify-content: space-between;
  width: clamp(500px,700px,1250px);
  position: relative;
}
.filters-container button{
    border :none;
    outline: none;
    background: none;
    color: var(--text-black-color);
    font-weight: 600;
}
.filters-container .arrow-down{
  padding-left: 10px;
}
p.invoices{
  display: inline-block;
  font-size: 0.8em;
  color: var(--text-gray-color);
  font-weight: 500;
}
.filters{
  background: var(--text-white-color);
  border: 1px solid var(--text-white-color);
  margin: 10px 0px;
  padding: 20px 25px;
  width: 192px;
  height: 128px;;
  box-shadow: 11px 10px 15px rgba(0,0,0,.129);
  border-radius: 10px;
  position: absolute;
  top: 29px;
  z-index: 3;
  }

.checkbox-container{
    display: flex;
    gap:1rem;
}
.checkbox-container input[type="checkbox"]{
        appearance: none;
        background-color: #DFE3FA;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
      
}
.checkbox-container input[type='checkbox']:hover{
  cursor: pointer;
  border: 0.1em solid var(--invoice-btn-color);
}
input[type="checkbox"]::before {
    background: var(--invoice-btn-color);
    content: '✓';
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .checkbox-container label{
    position: relative;
    top:-4px
  }
  .checkbox-container label:hover{
    cursor: pointer;
  }
  header button.add-invoices-btn {
    color: white;
    max-height: 48px;
    min-width: 150px;
    background: var(--invoice-btn-color);
    border-radius: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  span.add-invoice{
    padding: 10px 0;
    background: white;
    border-radius: 100%;
    height: 35px;
    width: 36px;
    color: var(--invoice-btn-color);
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -11px;
  }
  span.add-invoice icon{
    position: relative;
    top: -4px;
  }

  @media (max-width:850px){
    .invoice-card{
        width: clamp(400px, 600px, 900px) ;
    
        }
  }
  @media (max-width:412px){
    header {
      gap: 2rem;
      width: clamp(300px, 375px, 400px) !important;
      justify-content:space-around;
    }
    header button.add-invoices-btn{
      max-height: 48px;
      min-width: 99px;
    }
    .filters{
      left:99px;
      width: 175px;
    }
    .hidden-at-mobile{
      display: none;
    }
  }
 