header{
  display: flex;
  margin-top: 50px;
  gap: 8rem;
  color: var(--text-black-color);
  justify-content: center;
  width: clamp(700px,900px,1250px);
}
span.invoices{
  font-size: 0.8em;
color: var(----text-gray-color);
font-weight: 300;
}
.filters{
  border: 1px solid wheat;
  margin: 10px 0px;
  padding: 20px 25px;
  width: 192px;
  height: 128px;
  position: relative;
  top: 8px;
  box-shadow: 11px 10px 15px rgba(0,0,0,.129);
  border-radius: 10px;

  }

.checkbox-container{
    display: flex;
    gap:1rem;
}
.checkbox-container input[type="checkbox"]{
        appearance: none;
        background-color: #DFE3FA;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
      
}
.checkbox-container input[type='checkbox']:hover{
  cursor: pointer;
  border: 0.1em solid var(--invoice-btn-color);
}
input[type="checkbox"]::before {
    background: var(--invoice-btn-color);
    content: '✓';
    color: white;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  .checkbox-container label{
    position: relative;
    top:-4px
  }
  .checkbox-container label:hover{
    cursor: pointer;
  }
  header button {
    color: white;
    max-height: 48px;
    min-width: 150px;
    background: var(--invoice-btn-color);
    border-radius: 30px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  span.add-invoice{
    padding: 10px 0;
    background: white;
    border-radius: 100%;
    height: 35px;
    width: 36px;
    color: var(--invoice-btn-color);
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -11px;
  }
  span.add-invoice icon{
    position: relative;
    top: -4px;
  }