:root{
  --body-light-background: #F8F8FB;
  --sidebar-light-background: #494E6E;
  --text-black-color: #0C0E16;
  --text-gray-color : #888EB0;
  --invoice-btn-color: #7C5DFA;
  --text-white-color: #FFFFFF;
  --paid-status-color:#33D69F ;
  --pending-status-color:  #FF8F00;
  --draft-status-color: #373B53;
}
*,::after,::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#root {
  background-color: var(--body-light-background);
  max-width:100vw;
  max-height: 100vh;
  margin: 0 auto;
 
}
.app-container{
  max-width: 1440px;
  display: flex;
  gap:1rem;
 
}


