@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap');
:root{
  --body-light-background: #F8F8FB;
  --sidebar-light-background: #494E6E;
  --text-black-color: #0C0E16;
  --text-gray-color : #888EB0;
  --text-white-color:#FFFFFF;
  --invoice-gray-text-color: #858BB2;
  --invoice-btn-color: #7C5DFA;
  --paid-status-color:#33D69F ;
  --pending-status-color:  #FF8F00;
  --draft-status-color: #373B53;
}
*,::after,::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#root {
  background-color: var(--body-light-background);
  max-width:100vw;
  max-height: 100vh;
  margin: 0 auto;
  font-family:  'Kumbh Sans', sans-serif;;
 
}
.app-container{
  width: clamp(768px, 1440px, 1500px) ;
  display: flex;
  gap:1rem;
 
}
.main-content-wrapper{
  color: var(--text-black-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

@media (max-width: 1150px){
  .main-content-wrapper{   
    margin-left: clamp(15px, 50px, 100px);
    margin-top: 50px;
  }
}
@media (max-width:900px){
  .app-container{
    width: clamp(600px, 800px, 900px) ;
    display: flex;
    gap:1rem;
   
  }
}
@media (max-width:768px){
  .app-container{
    display: flex;
    flex-direction: column;
   
  }
}
@media (max-width: 412px){
  .main-content-wrapper{   
    margin-left: clamp(10px, 11px, 50px);
    margin-top: 50px;
    width: clamp(300px, 350px, 357px) ;
  }
}